<?xml version="1.0"?>
<configuration>
	<!--mi configuración-->
	<configSections>
		<section name="DatabaseProviderSqlServer" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<!-- -->
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<!--mi configuración-->
	
	<DatabaseProviderSqlServer>
		<add key="Host" value="TSP\SQLEXPRESS" />
		<add key="Port" value="1433" />
		<add key="BaseDatosNombre" value="envios" />
	</DatabaseProviderSqlServer>
	<!-- -->
	
</configuration>
