<?xml version="1.0"?>
<configuration>
	<!--mi configuración-->
	<configSections>
		<!--
		<section name="DatabaseProviderSqlServer" type="System.Configuration.NameValueSectionHandler" />
		-->
		
		<section name="DatabaseProviderPostgreSql" type="System.Configuration.NameValueSectionHandler" />
		
	</configSections>
	<!-- -->
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<appSettings>
		<!--
		<add key="DaoImplLib" value="DaoImplSqlServer" />
		<add key="DaoImplClass" value="DaoImplSqlServer.SqlServerImplDao.GestionEnviosSQLServerImplDao" />
		-->
		<add key="DaoImplLib" value="DaoImplPostgreSql" />
		<add key="DaoImplClass" value="DaoImplPostgreSql.PostgreSqlImplDao.GestionEnviosPostgreSqlImplDao" />
	</appSettings>

	<!--mi configuración
	<DatabaseProviderSqlServer>
		<add key="Host" value="TSP\SQLEXPRESS" />
		<add key="Port" value="1433" />
		<add key="BaseDatosNombre" value="envios" />
	</DatabaseProviderSqlServer>
	 -->
<!--mi configuración-->
	<DatabaseProviderPostgreSql>
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="username" value="postgres" />
		<add key="password" value="postgres" />
		<add key="BaseDatosNombre" value="envios" />
	</DatabaseProviderPostgreSql>
	<!---->

</configuration>
