<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--mi configuración-->
	<configSections>
		
		<section name="DatabaseProviderSqlServer" type="System.Configuration.NameValueSectionHandler" />
		<!--
		<section name="DatabaseProviderSqlite" type="System.Configuration.NameValueSectionHandler" />
		-->
		<!--
		<section name="DatabaseProviderPostgreSql" type="System.Configuration.NameValueSectionHandler" />
		-->
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>

		<add key="DaoImplLib" value="DaoImplSqlServer" />
		<add key="DaoImplClass" value="DaoImplSqlServer.SqlServerImplDao.GestionEnviosSQLServerImplDao" />

		<!--
		<add key="DaoImplLib" value="DaoImplSqlite" />
		<add key="DaoImplClass" value="DaoImplSqlite.SqliteImplDao.GestionEnviosSQLiteImplDao" />
		-->

		<!--
		<add key="DaoImplLib" value="DaoImplPostgreSql" />
		<add key="DaoImplClass" value="DaoImplPostgreSql.PostgreSqlImplDao.GestionEnviosPostgreSqlImplDao" />
		-->
	</appSettings>

	<!--mi configuración -->
	<DatabaseProviderSqlServer>
		<add key="Host" value="TSP\SQLEXPRESS" />
		<add key="Port" value="1433" />
		<add key="BaseDatosNombre" value="envios" />
	</DatabaseProviderSqlServer>
	<!---->
	
	<!--mi configuración
	<DatabaseProviderPostgreSql>
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="username" value="postgres" />
		<add key="password" value="postgres" />
		<add key="BaseDatosNombre" value="envios" />
	</DatabaseProviderPostgreSql>
	-->

	<!--mi configuración 
	<DatabaseProviderSqlite>
		<add key="PathDB" value="mydatabase.db" />
	</DatabaseProviderSqlite>
	-->

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
